.aboutForm#about
    .aboutImg
        img(src='../images/about.jpg' alt='about Image' height='500' width='700')

    .aboutMain
        p Whether you're in the mood for a 'small' poutine or a 'big' salad, 'just one' beer or a double shot espresso, when it satisfies your tastebuds, it's all good.