.footer#contact
  .mainName
    h1 Harvey's
  .contactInfo
    h3 Contact Information
    .item 
        .addr
            h5 ADDRESS: Zintek House Eurohaul Centre Greenhills rd Tallaght Dublin 24 
        .bookInfo
            h5 FOR BOOKING: (01)4008351
  .hoursInfo
    h3 Restaurant Hours
    .item
        .timeDay
            h5 BREAKFAST
        .hours
            h5 9:30AM - 12:30PM
    .item
        .timeDay
            h5 LUNCH
        .hours
            h5 12:30PM - 5:30PM
    .item
        .timeDay
            h5 DINNER
        .hours
            h5 5:30PM - 11:30PM
