meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='stylesheet' type='text/css' href='/style/style.css')
link(href='https://fonts.googleapis.com/css?family=Lobster&display=swap' rel='stylesheet')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@8/dist/sweetalert2.css')
title Harvey&apos;s