.reservationForm
    .resInfo
        h4 RESERVE A SEAT NOW
    .resField
        input#dateInput(type="text" placeholder='Enter date dd/mm/yy')
        select#timeInput
            option(value="8:00") 8:00 am
            option(value="9:00") 9:00 am
            option(value="10:00") 10:00 am
            option(value="11:00") 11:00 am
            option(value="12:00") 12:00 pm
        input#nameInput(type="text" placeholder='Full Name')
        button#submitBtn Submit