body{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
body, html {
    height: 100%;
    margin: 0;
}
.mainHeader {
    background-image: url("../images/main.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.caption{
    position: absolute;
    left: 0; 
    top: 50vh;
    width: 100vw;
    text-align: center;
}
.caption span.border{
    font-size: 3rem;
    color:#fff;
    letter-spacing: 0.1875rem;
}

/* SIDE BAR SECTION */

.sideNav {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.sideNav h1 a{
    margin: auto;
    margin-top:8rem;
    margin-bottom:8rem;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 4rem; 
}
.sideNavItems {
    margin: auto;
    margin-top: 0;
}

.sideNav a {
    margin-bottom: 3.4375rem;
    padding: 0rem 0.5rem 0.375rem 1rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
    display: block;
    text-align: center;
}

/* MENU SECTION */
.menuModule {
    /* margin-left: 17.0rem; */
    margin-left: 12.5%;
}
.menuNav ul {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.menuNav li {
    float: left;
}

.menuNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875rem 17.65rem;
    text-decoration: none;
}

.menuNav li a:hover {
    background-color: #111;
}
.menuModule .resultMenu{
    margin-left: 15%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:85rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.125rem;
}
.grid-item {
    /* border: 0.0625rem solid rgba(0, 0, 0, 0.8); */
    padding: 0.9375rem;
    /* font-size: 0.75rem; */
    margin-bottom: 5rem;
}
.grid-item .itemName{
    font-size: 1.0rem;
    font-weight: bold;
}
.grid-item .itemDesc{
    margin-top:0.7rem;
    font-size: 0.95rem;
    font-style: italic;
}
.grid-item .itemPrice{
    font-size: 0.85rem;
    font-weight: bold;
    float: right;
}
.aboutForm {
    margin-left: 15%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10rem 0rem;


}
.aboutMain {
    display: flex;
    flex-direction: column;
    width:20vw;
    margin-left: 1rem;

}
.aboutMain p{
    margin: auto;
    font-size: 1.4rem;
    line-height: 2.2rem;

}

/* Reservation Form */
.reservationForm {
    margin-left: 15%;
    display:flex;
    flex-direction: row;
    padding: 5rem 0 5rem 0;
    justify-content: center;

}
.resField {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.resField select, input {
    background: #eee;
    border:none;
    padding: 0.75rem 0.9375rem;
    margin: 0.6rem;
}
.resField button{
    border-radius:20px;
    border: 1px solid;
    font-size:0.75rem;
    font-weight: bold;
    padding: 0.75rem 2.8125rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.resField button:active{
    transform:scale(0.95);
}
.resField button:focus{
    outline: none;
}
.deleteReserve {
    display:flex;
    flex-direction: row;
    padding: 5rem 0 5rem 0;
    justify-content: center;

}
.delResField input {
    background: #eee;
    border:none;
    padding: 0.75rem 0.9375rem;
    margin: 0.6rem;
}
.delResField button {
    border-radius:20px;
    border: 1px solid;
    font-size:0.75rem;
    font-weight: bold;
    padding: 0.75rem 2.8125rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.delResField button:active{
    transform:scale(0.95);
}
.delResField button:focus{
    outline: none;
}


/* Footer */
.footer {
    /* margin-left: 19.8rem; */
    padding:2rem 0 2rem 0;
    margin-left: 15%;
    display: grid;
    grid-template-columns: auto 38rem auto;
    background-color: #333;
    color: #fff;
}
.footer .mainName{
    margin-top:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer .mainName h1{
    margin: auto;
    font-family: 'Lobster', cursive;
    font-size: 6rem;

}
.contactInfo, .hoursInfo {
    padding: 1vw 0 1vw 3vw;
}
.hoursInfo .item{
    display:grid;
    grid-template-columns: auto auto;
}
.hoursInfo .item .timeDay{
    width:0.0625rem;
}
.hoursInfo .item .timeDay h5{
    margin-top: 0;
}
.hoursInfo .item .hours h5{
    margin-top: 0;
}

.mainName, .contactInfo {
    border-right: solid;
    border-width: thin;
    border-color: #696969;
}
@media only screen and (min-width: 425px) {
    .caption span.border{
        font-size: 1rem;
        color:#fff;
        letter-spacing: 0.1875rem;
    }
    .menuModule {
        /* margin-left: 17.0rem; */
        margin-left: 0;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 2.5rem;
        text-decoration: none;
    }
    .grid-item {
        /* border: 0.0625rem solid rgba(0, 0, 0, 0.8); */
        padding: 0.9375rem;
        /* font-size: 0.75rem; */
        margin-bottom: 1rem;
    }
    .grid-item .itemName{
        font-size: 0.55rem;
        font-weight: bold;
    }
    .grid-item .itemDesc{
        margin-top:0.7rem;
        font-size: 0.60rem;
        font-style: italic;
    }
    .grid-item .itemPrice{
        font-size: 0.4rem;
        font-weight: bold;
        float: right;
    }
    .sideNav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        z-index: 1;
        overflow-x: hidden;
    }

    .menuModule .resultMenu{
        margin-left:25%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:13rem;
    }
    .aboutForm .aboutImg img{
        height:210px;
        width:250px;
    }
    .aboutForm .aboutMain p{
        font-size:0.5rem;
    }
    .reservationForm {
        margin-left: 1%;
        display:flex;
        flex-direction: row;
        padding: 5rem 0 5rem 0;
        justify-content: center;
    
    }
    .resField {
        display: flex;
        flex-direction: column;
        width: 10rem;
    }
    
    .footer {
        /* margin-left: 19.8rem; */
        padding:2rem 0 2rem 0;
        margin-left: 0;
        display: grid;
        grid-template-columns: auto 6rem auto;
        background-color: #333;
        color: #fff;
    }
    .footer .mainName h1{
        margin: auto;
        font-family: 'Lobster', cursive;
        font-size: 1rem;
    
    }
    .footer .contactInfo h3 {
        font-size:0.6rem;
    }
    .footer .hoursInfo h3 {
        font-size:0.7rem;
    }
    .footer .contactInfo .item{
        font-size:0.45rem;
    }
    .footer .hoursInfo .timeDay{
        font-size:0.5rem;
    }
    .footer .hoursInfo .hours{
        font-size:0.5rem;
    }

}
@media only screen and (min-width: 760px){
    .sideNav {
        height: 100%;
        width: 15%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        z-index: 1;
    }
    .resultMenu p {
        font-size:1.8rem;
    }
    .grid-item {
        /* border: 0.0625rem solid rgba(0, 0, 0, 0.8); */
        padding: 0.9375rem;
        /* font-size: 0.75rem; */
        margin-bottom: 5rem;
    }
    .grid-item .itemName{
        font-size: 0.95rem;
        font-weight: bold;
    }
    .grid-item .itemDesc{
        margin-top:0.7rem;
        font-size: 0.75rem;
        font-style: italic;
    }
    .grid-item .itemPrice{
        font-size: 0.65rem;
        font-weight: bold;
        float: right;
    }
    .caption span.border{
        font-size: 1.5rem;
        color:#fff;
        letter-spacing: 0.1875rem;
    }
    .sideNav a {
        margin-bottom: 3.4375rem;
        padding: 0rem 0.5rem 0.375rem 1rem;
        text-decoration: none;
        font-size: 0.7rem;
        color: #fff;
        display: block;
        text-align: center;
    }
    .sideNav h1 a{
        margin: auto;
        margin-top:3rem;
        margin-bottom:8rem;
        color: #fff;
        font-family: 'Lobster', cursive;
        font-size: 1.3rem; 
    }
    .menuNav{
        margin-left: 2.7%;
    }
    .menuModule {
        /* margin-left: 17.0rem; */
        margin-left: 12.5%;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 11vw;
        text-decoration: none;
    }
    .menuModule .resultMenu{
        margin-left: 15%;
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:35rem;
    }
    .aboutForm .aboutImg img{
        height:250px;
        width:400px;
    }
    .aboutForm .aboutMain p{
        font-size: 0.8rem;
    }
    .menuNav{
        margin-left: 2.7%;
    }
    .reservationForm {
        margin-left: 15%;
        display:flex;
        flex-direction: row;
        padding: 5rem 0 5rem 0;
        justify-content: center;
    }
    .resField {
    display: flex;
    flex-direction: column;
    width: 20rem;
}
    .footer {
        /* margin-left: 19.8rem; */
        padding:2rem 0 2rem 0;
        margin-left: 15%;
        display: grid;
        grid-template-columns: auto 10rem auto;
        background-color: #333;
        color: #fff;
    }
    .footer .contactInfo h3 {
        font-size:1rem;
    }
    .footer .hoursInfo h3 {
        font-size:1rem;
    }
    .footer .mainName h1{
        margin: auto;
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
    }
    .footer .contactInfo .item h5{
        font-size:0.75rem;
    }
    .footer .hoursInfo .timeDay h5{
        font-size:0.7rem;
    }
    .footer .hoursInfo .hours h5{
        font-size:0.7rem;
    }

}

@media only screen and (min-width: 1024px) {
    .resultMenu p {
        font-size:3rem;
    }
    .caption span.border{
        font-size: 3rem;
        color:#fff;
        letter-spacing: 0.1875rem;
    }
    .sideNav {
        overflow-y: hidden;
    }
    .sideNav a {
        margin-bottom: 3.4375rem;
        padding: 0rem 0.5rem 0.375rem 1rem;
        text-decoration: none;
        font-size: 1rem;
        color: #fff;
        display: block;
        text-align: center;
    }
    .sideNav h1 a{
        margin: auto;
        margin-top:5rem;
        margin-bottom:8rem;
        color: #fff;
        font-family: 'Lobster', cursive;
        font-size: 2rem; 
    }
    .menuNav{
        margin-left: 2.8%;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 11.5vw;
        text-decoration: none;
    }
    .grid-item .itemName{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .grid-item .itemDesc{
        margin-top:0.7rem;
        font-size: 1rem;
        font-style: italic;
    }
    .grid-item .itemPrice{
        font-size: 0.95rem;
        font-weight: bold;
        float: right;
    }
    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:40rem;
    }
    .aboutForm .aboutImg img{
        height:300px;
        width:500px;
    }
    .footer {
        /* margin-left: 19.8rem; */
        padding:2rem 0 2rem 0;
        margin-left: 15%;
        display: grid;
        grid-template-columns: auto 15rem auto;
        background-color: #333;
        color: #fff;
    }
    .footer .contactInfo h3 {
        font-size:1rem;
    }
    .footer .hoursInfo h3 {
        font-size:1rem;
    }
    .footer .mainName h1{
        margin: auto;
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
    }
    .footer .contactInfo .item h5{
        font-size:0.9rem;
    }
    .footer .hoursInfo .timeDay h5{
        font-size:0.8rem;
    }
    .footer .hoursInfo .hours h5{
        font-size:0.8rem;
    }



}

@media only screen and (min-width: 1440px){
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 11.5vw;
        text-decoration: none;
    }
    
    .sideNav h1 a{
        margin: auto;
        margin-top:8rem;
        margin-bottom:8rem;
        color: #fff;
        font-family: 'Lobster', cursive;
        font-size: 3.5rem; 
    }
    .menuNav{
        margin-left: 2.8%;
    }

    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:60rem;
    }
    .aboutForm .aboutImg img{
        height:500px;
        width:700px;
    }
    .footer {
        /* margin-left: 19.8rem; */
        padding:2rem 0 2rem 0;
        margin-left: 15%;
        display: grid;
        grid-template-columns: auto 25rem auto;
        background-color: #333;
        color: #fff;
    }
    .footer .mainName h1{
        margin: auto;
        font-family: 'Lobster', cursive;
        font-size: 6rem;
    }
}
@media only screen and (min-width: 1550px){
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 12.5vw;
        text-decoration: none;
    }
    .footer .contactInfo .item{
        font-size:0.95rem;
    }


}
@media only screen and (min-width: 1750px){
    .sideNav h1 a{
        margin: auto;
        margin-top:8rem;
        margin-bottom:8rem;
        color: #fff;
        font-family: 'Lobster', cursive;
        font-size: 4rem; 
    }
    .menuNav{
        margin-left: 2.8%;
    }

    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 12.6vw;
        text-decoration: none;
    }
    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:65rem;
    }

}
@media only screen and (min-width: 1850px){

    .menuNav{
        margin-left: 2.8%;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 14.8rem;
        text-decoration: none;
    }
    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:65rem;
    }

}
@media only screen and (min-width: 1950px){

    .menuNav{
        margin-left: 2.8%;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 15.6rem;
        text-decoration: none;
    }
    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:65rem;
    }

}
@media only screen and (min-width: 2100px){

    .menuNav{
        margin-left: 2.8%;
    }
    .menuNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0.875rem 13vw;
        text-decoration: none;
    }
    .menuModule .resultMenu{
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:80rem;
    }

}




