doctype html
//- {{>head}}
head
  include partials/head.pug
.deleteReserve
    .delResField
        input#resDelName(type="text" placeholder="Enter Name")
        button#delSubmitBtn Delete Reservation

script(type='module' src='/js/control.js')
